.player{
    width:110px;
    height: 150px;
    top:400px;
    left:100px;
}
.ground{
    width:100%;
    height: 1000px;
    background-color: green;
    top:540px;
}
.background{
    width:100%;
    height: 1000%;
    background-color: blue;
}

.instructions{
    right:50px;
    font-size: 20px;
}
