.player{
    width:110px;
    height: 150px;
    top:400px;
    left:100px;
}
.ground{
    width:100%;
    height: 1000px;
    background-color: green;
    top:540px;
}
.background{
    width:100%;
    height: 1000%;
    background-color: blue;
}

.instructions{
    top: 20px;
    right:50px;
    font-size: 20px;
    cursor: default;
}

#pauseButton{
    transform: translate(-50%, 0);
    color: white;
    left: 50%;
    top: 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    &:hover{
        color: red;
    }
}

.score{
    color: white;
    top: 20px;
    left:20px;
    font-size: 20px;
    cursor: default;
}

.gameOver{
    color: white;
    top: 50%;
    left:50%;
    font-size: 20px;
    cursor: default;
    transform: translate(-50%, -50%);
}
