<div class="background">
  <!-- <img src="assets/background.jpg" /> -->
</div>
<div class="ground" [style.top]="this.groundOffsetTop"></div>

<div class="instructions">
  <b style="color: #8f00fa; right: 100px" #bInstruction>B</b>
  <b style="color: #fa8f00; right: 60px" #nInstruction>N</b>
  <b style="color: #01fa8f; right: 20px" #mInstruction>M</b>
</div>
<img src="{{ pauseImg }}" (click)="pause()" #pauseButton id="pauseButton" />
<img src="assets/logo.png" class="logo" (click)="restart()" />
<div class="score">
  <p>Score: {{ score }}</p>
</div>

<app-obstacle *ngFor="let i of obstacles" [object]="i"></app-obstacle>

<div *ngIf="paused" class="pauseMenu">
  <p *ngIf="paused">Pause</p>
  <button (click)="toggleKeys()" id="resumeButton">Toggle keys</button>
</div>
<img
  src="assets/instruction.png"
  class="instructionsImg"
  *ngIf="showInstructions"
/>
<app-obstacle
  *ngFor="let i of player"
  [object]="i"
  [style.display]="showPlayerObstacle ? 'block' : 'none'"
></app-obstacle>
<img
  src="{{ chickenURL }}"
  class="playerImg"
  #playerImg
  [style.top]="this.playerOffsetTop + 'px'"
  [style.width]="playerWidth + 'px'"
  [style.height]="playerHeight + 'px'"
/>

<app-value-settings *ngIf="showValueSettings"></app-value-settings>

<div class="gameOver" *ngIf="gameOver">
  <h1>Game Over</h1>
  <p>Your score is {{ score }}</p>
  <button (click)="restart()">Restart</button>
</div>

<div *ngIf="showKeys" class="keys">
  <img
    src="assets/keys/key_down.png"
    style="bottom: 20px; left: 20px"
    (touchstart)="egg()"
    (touchend)="eggStop()"
  />
  <img
    src="assets/keys/key_up.png"
    style="bottom: 110px; left: 20px"
    (touchstart)="jump()"
  />
  <img
    src="assets/keys/key_left.png"
    style="bottom: 20px; right: 110px"
    (touchstart)="movePlayerLeft()"
    (touchend)="movePlayerLeftStop()"
  />
  <img
    src="assets/keys/key_right.png"
    style="bottom: 20px; right: 20px"
    (touchstart)="movePlayerRight()"
    (touchend)="movePlayerRightStop()"
  />
  <img
    src="assets/keys/key_b.png"
    style="bottom: 20px; left: 130px"
    (touchstart)="changeColorPurple()"
  />
  <img
    src="assets/keys/key_n.png"
    style="bottom: 20px; left: 220px"
    (touchstart)="changeColorOrange()"
  />
  <img
    src="assets/keys/key_m.png"
    style="bottom: 20px; left: 310px"
    (touchstart)="changeColorGreen()"
  />
</div>
