<div class="background">
  <!-- <img src="assets/background.jpg" /> -->
</div>
<div class="ground" [style.top]="this.groundOffsetTop"></div>

<div class="instructions">
  <b style="color: #8f00fa; right: 100px" #bInstruction>B</b>
  <b style="color: #fa8f00; right: 60px" #nInstruction>N</b>
  <b style="color: #01fa8f; right: 20px" #mInstruction>M</b>
</div>
<img src="{{ pauseImg }}" (click)="pause()" #pauseButton id="pauseButton" />
<img src="assets/logo.png" class="logo" (click)="restart()" />
<div class="score">
  <p>Score: {{ score }}</p>
</div>

<app-obstacle *ngFor="let i of obstacles" [object]="i"></app-obstacle>

<div *ngIf="paused" class="pauseMenu">
  <p *ngIf="paused">Pause</p>
  <button (click)="toggleMusic()" style="top: 200px">
    Music: {{ playMusic ? "ON" : "OFF" }}
  </button>
  <button (click)="toggleKeys()" style="top: 300px">Toggle keys</button>
</div>
<img
  src="assets/instruction.png"
  class="instructionsImg"
  *ngIf="showInstructions"
/>
<app-obstacle
  *ngFor="let i of player"
  [object]="i"
  [style.display]="showPlayerObstacle ? 'block' : 'none'"
></app-obstacle>
<img
  src="{{ chickenURL }}"
  class="playerImg"
  #playerImg
  [style.top]="this.playerOffsetTop + 'px'"
  [style.width]="playerWidth + 'px'"
  [style.height]="playerHeight + 'px'"
/>

<app-value-settings *ngIf="showValueSettings"></app-value-settings>

<div class="gameOver" *ngIf="gameOver">
  <h1>Game Over</h1>
  <p style="top: 160px">Your score is {{ score }}</p>
  <p style="top: 210px">{{ gameOverSlogan }}</p>
  <button (click)="restart()">Restart</button>
</div>

<div *ngIf="showKeys" class="keys">
  <button
    style="bottom: 20px; left: 20px"
    (touchstart)="egg()"
    (touchend)="eggStop()"
  >
    <img src="assets/keys/key_down.png" style="bottom: 20px; left: 20px" />
  </button>
  <button (touchstart)="jump()" style="bottom: 110px; left: 20px">
    <img src="assets/keys/key_up.png" style="bottom: 110px; left: 20px" />
  </button>
  <button
    (touchstart)="movePlayerLeft()"
    (touchend)="movePlayerLeftStop()"
    style="bottom: 20px; right: 110px"
  >
    <img src="assets/keys/key_left.png" style="bottom: 20px; right: 110px" />
  </button>
  <button
    (touchstart)="movePlayerRight()"
    (touchend)="movePlayerRightStop()"
    style="bottom: 20px; right: 20px"
  >
    <img src="assets/keys/key_right.png" style="bottom: 20px; right: 20px" />
  </button>
  <button (touchstart)="changeColorPurple()" style="bottom: 20px; left: 130px">
    <img src="assets/keys/key_b.png" style="bottom: 20px; left: 130px" />
  </button>
  <button (touchstart)="changeColorOrange()" style="bottom: 20px; left: 220px">
    <img src="assets/keys/key_n.png" style="bottom: 20px; left: 220px" />
  </button>
  <button (touchstart)="changeColorGreen()" style="bottom: 20px; left: 310px">
    <img src="assets/keys/key_m.png" style="bottom: 20px; left: 310px" />
  </button>
</div>

<p class="facts" *ngIf="showFacts">{{ chickenFact }}</p>
<a
  href="https://phil1436.github.io/"
  class="by"
  *ngIf="showFacts || gameOver || paused"
  >by Philipp B.</a
>
